<!DOCTYPE html>
<html lang="pt-br">
    <head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="icon" href="icon/icon.png" type="image/png">
        <link rel="apple-touch-icon" href="icon/icon.png">
        <link rel="stylesheet" type="text/css" href="fonts/gamefont.css">
        <title>Action Sequence Viewer</title>
		
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js'></script>
		<script src='https://cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js'></script>
		<script  src="script.js"></script>
        <link rel="stylesheet" href="cmlib/lib/codemirror.css">
        <link rel="stylesheet" href="cmlib/addon/hint/show-hint.css">
        <link rel="stylesheet" href="cmlib/addon/scroll/simplescrollbars.css">
        <link rel="stylesheet" href="cmlib/addon/search/matchesonscrollbar.css">
        <link rel="stylesheet" href="cmlib/addon/dialog/dialog.css">
        <link rel="stylesheet" href="cmlib/addon/fold/foldgutter.css">
        <link rel="stylesheet" href="cmlib/addon/display/fullscreen.css">
        <script src="cmlib/lib/codemirror.js"></script>
        <script src="cmlib/addon/mode/simple.js"></script>
        <script src="cmlib/addon/hint/show-hint.js"></script>
        <script src="cmlib/addon/hint/anyword-hint.js"></script>
        <script src="cmlib/addon/search/match-highlighter.js"></script>
        <script src="cmlib/addon/scroll/simplescrollbars.js"></script>
        <script src="cmlib/addon/selection/active-line.js"></script>
        <script src="cmlib/addon/edit/closebrackets.js"></script>
        <script src="cmlib/addon/fold/foldcode.js"></script>
        <script src="cmlib/addon/fold/foldgutter.js"></script>
        <script src="cmlib/addon/fold/brace-fold.js"></script>
        <script src="cmlib/addon/fold/xml-fold.js"></script>
        <script src="cmlib/addon/fold/indent-fold.js"></script>
        <script src="cmlib/addon/dialog/dialog.js"></script>
        <script src="cmlib/addon/search/searchcursor.js"></script>
        <script src="cmlib/addon/search/search.js"></script>
        <script src="cmlib/addon/search/matchesonscrollbar.js"></script>
        <script src="cmlib/addon/scroll/annotatescrollbar.js"></script>
        <script src="cmlib/addon/display/fullscreen.js"></script>
        <script src="cmlib/mode/simplemode/simplemode.js"></script>
        <link rel="stylesheet" href="main.css">
        <link rel="stylesheet" href="cmlib/theme/serge-light.css">
        <link rel="stylesheet" href="cmlib/theme/serge-dark.css">
        <link rel="stylesheet" href="cmlib/theme/3024-day.css">
        <link rel="stylesheet" href="cmlib/theme/3024-night.css">
        <link rel="stylesheet" href="cmlib/theme/abcdef.css">
        <link rel="stylesheet" href="cmlib/theme/ambiance.css">
        <link rel="stylesheet" href="cmlib/theme/base16-dark.css">
        <link rel="stylesheet" href="cmlib/theme/bespin.css">
        <link rel="stylesheet" href="cmlib/theme/base16-light.css">
        <link rel="stylesheet" href="cmlib/theme/blackboard.css">
        <link rel="stylesheet" href="cmlib/theme/cobalt.css">
        <link rel="stylesheet" href="cmlib/theme/colorforth.css">
        <link rel="stylesheet" href="cmlib/theme/dracula.css">
        <link rel="stylesheet" href="cmlib/theme/duotone-dark.css">
        <link rel="stylesheet" href="cmlib/theme/duotone-light.css">
        <link rel="stylesheet" href="cmlib/theme/eclipse.css">
        <link rel="stylesheet" href="cmlib/theme/elegant.css">
        <link rel="stylesheet" href="cmlib/theme/erlang-dark.css">
        <link rel="stylesheet" href="cmlib/theme/hopscotch.css">
        <link rel="stylesheet" href="cmlib/theme/icecoder.css">
        <link rel="stylesheet" href="cmlib/theme/isotope.css">
        <link rel="stylesheet" href="cmlib/theme/lesser-dark.css">
        <link rel="stylesheet" href="cmlib/theme/liquibyte.css">
        <link rel="stylesheet" href="cmlib/theme/material.css">
        <link rel="stylesheet" href="cmlib/theme/mbo.css">
        <link rel="stylesheet" href="cmlib/theme/mdn-like.css">
        <link rel="stylesheet" href="cmlib/theme/midnight.css">
        <link rel="stylesheet" href="cmlib/theme/monokai.css">
        <link rel="stylesheet" href="cmlib/theme/neat.css">
        <link rel="stylesheet" href="cmlib/theme/neo.css">
        <link rel="stylesheet" href="cmlib/theme/night.css">
        <link rel="stylesheet" href="cmlib/theme/panda-syntax.css">
        <link rel="stylesheet" href="cmlib/theme/paraiso-dark.css">
        <link rel="stylesheet" href="cmlib/theme/paraiso-light.css">
        <link rel="stylesheet" href="cmlib/theme/pastel-on-dark.css">
        <link rel="stylesheet" href="cmlib/theme/railscasts.css">
        <link rel="stylesheet" href="cmlib/theme/rubyblue.css">
        <link rel="stylesheet" href="cmlib/theme/seti.css">
        <link rel="stylesheet" href="cmlib/theme/solarized.css">
        <link rel="stylesheet" href="cmlib/theme/the-matrix.css">
        <link rel="stylesheet" href="cmlib/theme/tomorrow-night-bright.css">
        <link rel="stylesheet" href="cmlib/theme/tomorrow-night-eighties.css">
        <link rel="stylesheet" href="cmlib/theme/ttcn.css">
        <link rel="stylesheet" href="cmlib/theme/twilight.css">
        <link rel="stylesheet" href="cmlib/theme/vibrant-ink.css">
        <link rel="stylesheet" href="cmlib/theme/xq-dark.css">
        <link rel="stylesheet" href="cmlib/theme/xq-light.css">
        <link rel="stylesheet" href="cmlib/theme/yeti.css">
        <link rel="stylesheet" href="cmlib/theme/zenburn.css">
    </head>
    <body style="margin: 0px; font-size: 12px;">
	<div class="container"  ng-app="myApp" ng-controller="Ctrl"> 
        <div id="sideNav" class="sidenav">
            <div id="sideNavTitle">{{ 'HEADER' | translate }}</div>
            <div class="closebtn sideItem" onclick="closeNav();">&times;</div>
            <iframe class="infoBar" src="reference.html"></iframe>
        </div>
        <div id="topNav">
            <div class="dropdown">
                <div class="dropdown-label">Editor</div>
                <div class="dropdown-content">
                    <label class="dropdown-item">{{ 'TEMA' | translate }}
                        <select id="themeSelector" onchange="changeTheme()">
                            <option value="serge-light">Light</option>
                            <option value="serge-dark">Dark</option>
                            <option value="3024-day">3024-day</option>
                            <option value="3024-night">3024-night</option>
                            <option value="abcdef">abcdef</option>
                            <option value="ambiance">ambiance</option>
                            <option value="base16-dark">base16-dark</option>
                            <option value="base16-light">base16-light</option>
                            <option value="bespin">bespin</option>
                            <option value="blackboard">blackboard</option>
                            <option value="cobalt">cobalt</option>
                            <option value="colorforth">colorforth</option>
                            <option value="dracula">dracula</option>
                            <option value="duotone-dark">duotone-dark</option>
                            <option value="duotone-light">duotone-light</option>
                            <option value="eclipse">eclipse</option>
                            <option value="elegant">elegant</option>
                            <option value="erlang-dark">erlang-dark</option>
                            <option value="hopscotch">hopscotch</option>
                            <option value="icecoder">icecoder</option>
                            <option value="isotope">isotope</option>
                            <option value="lesser-dark">lesser-dark</option>
                            <option value="liquibyte">liquibyte</option>
                            <option value="material">material</option>
                            <option value="mbo">mbo</option>
                            <option value="mdn-like">mdn-like</option>
                            <option value="midnight">midnight</option>
                            <option value="monokai">monokai</option>
                            <option value="neat">neat</option>
                            <option value="neo">neo</option>
                            <option value="night">night</option>
                            <option value="panda-syntax">panda-syntax</option>
                            <option value="paraiso-dark">paraiso-dark</option>
                            <option value="paraiso-light">paraiso-light</option>
                            <option value="pastel-on-dark">pastel-on-dark</option>
                            <option value="railscasts">railscasts</option>
                            <option value="rubyblue">rubyblue</option>
                            <option value="seti">seti</option>
                            <option value="solarized dark">solarized dark</option>
                            <option value="solarized light">solarized light</option>
                            <option value="the-matrix">the-matrix</option>
                            <option value="tomorrow-night-bright">tomorrow-night-bright</option>
                            <option value="tomorrow-night-eighties">tomorrow-night-eighties</option>
                            <option value="ttcn">ttcn</option>
                            <option value="twilight">twilight</option>
                            <option value="vibrant-ink">vibrant-ink</option>
                            <option value="xq-dark">xq-dark</option>
                            <option value="xq-light">xq-light</option>
                            <option value="yeti">yeti</option>
                            <option value="zenburn">zenburn</option>
                        </select>
                    </label>
                    <div class="dropdown-item" onclick="toggleFullscreen();">{{ 'SCREEN' | translate }}</div>
                    <div class="dropdown-item" onclick="resetEditor();">{{ 'POSITION' | translate }}</div>
                    <div class="dropdown-item" onclick="clearEditor();">{{ 'CLEAR' | translate }}</div>
                    <div class="dropdown-item" onclick="toggleAutoComplete(this);">{{ 'DISABLE' | translate }}</div>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-label">{{ 'VIEW' | translate }}</div>
                <div class="dropdown-content">
                    <div id="openPreviewButton" class="dropdown-item" onclick="previewHandler();">{{ 'OPENVIEW' | translate }}</div>
                    <div id="closePreviewButton" class="dropdown-item" onclick="closePreview();" style="display: none">{{ 'CLOSEVIEW' | translate }}</div>
                    <label class="dropdown-item">{{ 'BGMA' | translate }}
                        <input id="bgmVol" type="range" step="10" max="100" min="0" onchange="volumeHandler();">
                    </label>
                    <label class="dropdown-item">{{ 'BGMB' | translate }}
                        <input id="seVol" type="range" step="10" max="100" min="0" onchange="volumeHandler();">
                    </label>
                    <label class="dropdown-item">{{ 'BGMC' | translate }}
                        <input id="meVol" type="range" step="10" max="100" min="0" onchange="volumeHandler();">
                    </label>
                    <label class="dropdown-item">{{ 'BGMD' | translate }}
                        <input id="bgsVol" type="range" step="10" max="100" min="0" onchange="volumeHandler();">
                    </label>
                </div>
            </div>
            <div class="dropdown" id="skillDropdown">
                <div class="dropdown-label">{{ 'SKILLS' | translate }}</div>
                <div class="dropdown-content">
                    <label class="dropdown-item">{{ 'SCOPE' | translate }}
                        <select onchange="updateSkillSettings(true);" id="skillScope">
                            <option value="0">{{ 'SCOPEA' | translate }}</option>
                            <option value="1" selected>{{ 'SCOPEB' | translate }}</option>
                            <option value="2">{{ 'SCOPEC' | translate }}</option>
                            <option value="3">{{ 'SCOPED' | translate }}</option>
                            <option value="4">{{ 'SCOPEE' | translate }}</option>
                            <option value="5">{{ 'SCOPEF' | translate }}</option>
                            <option value="6">{{ 'SCOPEG' | translate }}</option>
                            <option value="7">{{ 'SCOPEH' | translate }}</option>
                            <option value="8">{{ 'SCOPEI' | translate }}</option>
                            <option value="9">{{ 'SCOPEJ' | translate }}</option>
                            <option value="10">{{ 'SCOPEL' | translate }}</option>
                            <option value="11">{{ 'SCOPEM' | translate }}</option>
                        </select>
                    </label>
                    <label class="dropdown-item">{{ 'DAMAGE' | translate }}
                        <select onchange="updateSkillSettings(true);" id="skillDamageType">
                            <option value="0">{{ 'DAMAGEA' | translate }}</option>
                            <option value="1" selected>{{ 'DAMAGEB' | translate }}</option>
                            <option value="2">{{ 'DAMAGEC' | translate }}</option>
                            <option value="3">{{ 'DAMAGED' | translate }}</option>
                            <option value="4">{{ 'DAMAGEE' | translate }}</option>
                            <option value="5">{{ 'DAMAGEF' | translate }}</option>
                            <option value="6">{{ 'DAMAGEG' | translate }}</option>
                        </select>
                    </label>
                    <label class="dropdown-item">{{ 'ANIID' | translate }}
                        <input value="-1" onchange="updateSkillSettings(true);" id="skillAnimation" type="number">
                    </label>
                    <label class="dropdown-item">{{ 'ANIIDB' | translate }}
                        <input value="52" onchange="updateSkillSettings(true);" id="skillCastAnimation" type="number">
                    </label>
                </div>
            </div>
            <div class="dropdown">
                <div class="dropdown-label">{{ 'REF' | translate }}</div>
                <div class="dropdown-content">
                    <div class="dropdown-item" id="openNavButton" onclick="openNav();">{{ 'REFA' | translate }}</div>
                    <div class="dropdown-item" style="display: none;" id="closeNavButton" onclick="closeNav();">{{ 'REFB' | translate }}</div>
                    
                </div>
                
            </div>
		 <div class="dropdown">
                <div class="dropdown-label">Translate</div>
                <div class="dropdown-content">
                    <label class="dropdown-item" ng-click="changeLanguage('it')" class="active">{{ 'BUTTON_LANG_IT' | translate }}</label> 
					<label class="dropdown-item" ng-click="changeLanguage('en')"  class="active">{{ 'BUTTON_LANG_EN' | translate }}</label>  
                </div> 
                
           </div> 
			
            
        </div>
        <div id="siteContainer" style="padding: 10px;">
            <h1 style="text-align: center; color: #58ada4">{{ 'HEADER' | translate }}</h1>
            <h2 id="projectName" style="position: absolute; top: 40px; color: #58ada4">{{ 'SUBHEAD' | translate }}</h2>
            <div id="codeMirrorHolder"><p id="description" style="color: white">{{ 'EDITOR' | translate }}</p></div>
            <!-- <div id="supportTheDeveloper">
                <p style="text-align: center;">Quer ajudar o desenvolvedor?</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="PVGPVVPNV8F3Y">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div> -->
            <div id="shareModal" style="display: none;"><input type="button" value="Close" style="position: absolute; top:15px; right: 25px; font-size: 25px;" onclick="document.getElementById('shareModal').style.display = 'none';"><div id="shareContent"></div> </div>
            <div id="dragMe" style="display:none;"><p id="description2">{{ 'RESIZE' | translate }}</p><div style="position: absolute; height: 100%; width: 100%; z-index: 2000;"></div><iframe src="" id="previewHolder" ondrag="console.log(event);"></iframe></div>
            <div id="ghostpane" style="display: none;"></div>
            <div id="ghostpane2"></div>
        </div>
		</div>
		<p class="copy">by SergeofBIBEK</div>
		
        <script src="main.js"></script>
        <script src="move.js"></script>
		
    </body>
</html>